@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Fredoka+One&family=Mali&display=swap');

:root {
    --cafeoscuro: #a68069;
    --cafeclaro: #bf9780;
    --rosa: #d8af97;
    --crema: #ecd6c0;
    --fondo: #ffffeb;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenido {
    background-color: var(--cafeoscuro);

    padding: 1em;
    border-radius: 1em;
}

@media only screen and (min-width: 300px) {
    /*BARRA DE NAVEGACION MODILE*/




    nav a {
        color: var(--fondo);
        text-decoration: none;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        font-size: 1.2em;
    }

    .dropdown-item {
        color: var(--cafeoscuro);
    }

    .dropdown-item:hover {
        background-color: var(--rosa);
        color: var(--fondo);
    }

    .navbar navbar-expand-lg navbar-light bg-light {
        background-color: var(--fondo);
    }

    .nav-link {
        border-radius: 5px;
        color: var(--fondo);

    }

    .nav-link:hover {
        background-color: var(--fondo);
        color: var(--cafeoscuro);
    }





    .ocultar {
        transform: translateY(-100em);
    }

    .open {
        transform: translateY(0);
    }

    .redi {
        display: none;
        background-color: var(--crema);
        border-radius: 1em;
        padding: 0.5em;
    }

    .redi a {
        text-decoration: none;
        font-family: 'Albert Sans', sans-serif;
    }

    .palabras {
        display: flex;
        margin-top: 3em;
        background-color: var(--crema);
        padding: 1.5em;
        border-radius: 1em;
        flex-direction: column;
        align-items: center;
    }

    .palabras-enunciado {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 1em;
    }

    .palabras-enunciado p {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.2em;
        text-align: center;
    }

    .palabras-enunciado hr {
        margin: 1em;
        margin-top: 1.5em;
        border-color: var(--cafeoscuro);
    }

    .palabras-formulario {
        display: flex;
        margin: 1em;
    }

    .palabras-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        align-items: center;
        width: 20em;
    }

    label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input input {
        width: 80%;
        height: 2em;
        border-radius: 0.3em;
        border: none;
        outline: none;
    }

    .palabras-botones {
        display: flex;
        flex-direction: column;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .palabras-botones .button {
        margin: 0.5em;
        height: 2.5em;
        border-radius: 8px;
        font-family: 'Albert Sans',
            sans-serif;
        font-size: 1em;
        border: none;
        background-color: var(--rosa);
    }

    /*PALABRAS*/
}

/*-----------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) {



    /*BARRA DE NAVEGACION DESKTOP*/


    .redi {
        display: none;
        background-color: var(--crema);
        border-radius: 1em;
        padding: 0.5em;
    }

    .redi a {
        text-decoration: none;
        font-family: 'Albert Sans', sans-serif;
    }

    .palabras {
        display: flex;
        margin-top: 3em;
        background-color: var(--crema);
        padding: 1.5em;
        border-radius: 1em;
        flex-direction: column;
        align-items: center;
    }

    .palabras-enunciado {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 1em;
    }



    .palabras-enunciado hr {
        margin: 1em;
        margin-top: 1.5em;
        border-color: var(--cafeoscuro);
    }

    .palabras-formulario {
        display: flex;
        margin: 1em;
    }

    .palabras-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        align-items: center;
        width: 20em;
    }

    label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input input {
        width: 80%;
        height: 2em;
        border-radius: 0.3em;
        border: none;
        outline: none;
    }

    .palabras-botones {
        display: flex;
        flex-direction: column;
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .palabras-botones .button {
        margin: 0.5em;
        height: 2.5em;
        border-radius: 8px;
        font-family: 'Albert Sans',
            sans-serif;
        font-size: 1em;
        border: none;
        background-color: var(--cafeclaro);
    }

    /*PALABRAS*/




    .inicio-botones {
        display: flex;
        flex-direction: column;


    }

    .inicio-botones .ini {
        margin: 0.5em;
        height: 2.5em;
        border-radius: 8px;
        font-family: 'Fredoka One', cursive;
        font-size: 1em;
        border: none;
        background-color: var(--rosa);
        text-decoration: none;
        text-align: center;
        width: 15em;
    }

    /*PALABRAS*/



    .redi {
        display: none;
        background-color: var(--crema);
        border-radius: 1em;
        padding: 0.5em;
    }

    .redi a {
        text-decoration: none;
        font-family: 'Albert Sans', sans-serif;
    }

    .palabras {
        display: flex;
        margin-top: 3em;
        background-color: var(--crema);
        padding: 1.5em;
        border-radius: 1em;
        flex-direction: column;
        align-items: center;
    }

    .palabras-enunciado {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 1em;
    }

    .palabras-enunciado p {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        text-align: center;
    }

    .palabras-enunciado hr {
        margin: 1em;
        margin-top: 1.5em;
        border-color: var(--cafeoscuro);
    }

    .palabras-formulario {
        display: flex;
        margin: 1em;
    }

    .palabras-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        align-items: center;
        width: 20em;
    }

    label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input label {
        font-family: 'Albert Sans', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .palabras-input input {
        width: 80%;
        height: 2em;
        border-radius: 0.3em;
        border: none;
        outline: none;
    }

    

    /*PALABRAS*/
}

/*TEMPERATURA*/
.temperatura-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;

}

.temperatura-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.temperatura-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

.temperatura-opciones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.temperatura-opc1 {
    display: flex;
    flex-direction: column;
    padding: 2.5em;

}

.seleccionar {
    width: 10em;
    border: none;
    font-size: 1em;
    outline: none;
    padding: 5px;
}

.seleccionar option {
    background-color: var(--cafeoscuro);
    color: var(--fondo);

}





/*TEMPERATURA*/

/*TRIANGULO*/

.triangulo-formulario {
    display: flex;
    margin-top: 2em;
}

.triangulo-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.triangulo-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    width: 15em;
}

.triangulo-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.triangulo-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

/*TRIANGULO*/

/*PROFES*/

.profes-opciones {
    padding: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profes-opc1 {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

/*PROFES*/

/*FIGURAS*/

.figuras-formulario {
    display: flex;
}

.figuras-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figura-card {
    margin: 1em;
}

.fig1 {
    display: flex;
    flex-wrap: wrap;
}

/*FIGURAS*/

/*FORMULARIO*/

.datos-formulario {
    display: flex;
    margin-top: 2em;
}

.datos-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.datos-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    width: 15em;
}

.datos-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.datos-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1em;
}

.columna {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1em;
}

.datos-input-aceptar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
    width: 100%;

}

.datos-input-aceptar label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.datos-input-aceptar input {
    width: 20%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

#grupo__terminos {
    display: flex;
    justify-content: center;
}

.seleccionar2 {
    border: none;
    font-size: 1em;
    outline: none;
    padding: 5px;
}

.seleccionar2 option {
    background-color: var(--cafeoscuro);
    color: var(--fondo);

}

.formulario__grupo {
    padding: 1em;
}



.formulario__label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1em;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 1em;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    margin: 0.5em;
    height: 2.5em;
    border-radius: 8px;
    font-family: 'Albert Sans',
        sans-serif;
    font-size: 1em;
    border: none;
    background-color: var(--rosa);
    width: 90%;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}



/*FORMULARIO*/


/*MODAL*/

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 200px;
    display: none;
}

.contenidoModal {
    display: flex;
    flex-direction: column;
    background-color: var(--cafeclaro);
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}

.contenidoModal input {
    margin: 0.5em;
    width: 50%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

@keyframes animarmodal {
    from {
        top: -300px;

        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.cerrarModal {
    font-size: 2rem;
    float: right;
}

.cerrarModal:hover {
    cursor: pointer;
}

.contenidoModal h2 {
    background-color: var(--cafeoscuro);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
    clear: both;
}

.contenidoModal h2 span {
    padding-right: 1em;
}

.contenidoModal button {
    margin: 0.5em;
    height: 2.5em;
    border-radius: 8px;
    font-family: 'Albert Sans',
        sans-serif;
    font-size: 1em;
    border: none;
    background-color: var(--rosa);
    width: 50%;
    align-self: center;
}

.cerrarModal2 {
    font-size: 2rem;
    float: right;
}

.cerrarModal2:hover {
    cursor: pointer;
}

.cerrarModal3 {
    font-size: 2rem;
    float: right;
}

.cerrarModal3:hover {
    cursor: pointer;
}

.cerrarModal4 {
    font-size: 2rem;
    float: right;
}

.cerrarModal4:hover {
    cursor: pointer;
}

.cerrarModal5 {
    font-size: 2rem;
    float: right;
}

.cerrarModal5:hover {
    cursor: pointer;
}

.cerrarModal6 {
    font-size: 2rem;
    float: right;
}

.cerrarModal6:hover {
    cursor: pointer;
}

.cerrarModal7 {
    font-size: 2rem;
    float: right;
}

.cerrarModal7:hover {
    cursor: pointer;
}

.cerrarModal8 {
    font-size: 2rem;
    float: right;
}

.cerrarModal8:hover {
    cursor: pointer;
}

.cerrarModal9 {
    font-size: 2rem;
    float: right;
}

.cerrarModal9:hover {
    cursor: pointer;
}