@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Fredoka+One&family=Mali&display=swap');
:root {
    --cafeoscuro: #a68069;
    --cafeclaro:#bf9780;
    --rosa: #d8af97;
    --crema: #ecd6c0;
    --fondo: #ffffeb;

}
 


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
}

/*NAV*/

nav{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* position: relative; */
    
}

nav .nav{
    /* position: fixed; */
    background-color: var(--crema);
    height: 100%;
    padding: 2em 0;
}

.img{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img img{
    width: 50%;
    border-radius: 50%;
    border: solid 2px var(--cafeclaro);
}


.img h2{
    color: #8b6c59 ;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Fredoka One', cursive;
}

.pag{
    padding: 5px;
}

.pag hr{
    width: 85%;
    margin: 1em;
    border-color: var(--cafeoscuro);
}

.pag ul li{
    list-style: none;
    padding: 1em;
    border-radius: 1em;
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    border-top: solid 1px rgba(255, 255, 255, 0);
}

.pag a{
    font-family: 'Albert Sans', sans-serif;
    display: block;
    color: #8b6c59;  
    text-decoration: none;
    font-size: 1.2em;
}

i{
    width: 2em;
    font-size: 1.3em;
}

.pag ul li:hover{
    background-color: var(--fondo);
}

.pag ul li:hover a {
    color: #71472c;
}

/*NAV*/

.contenido{
    background-color: var(--cafeoscuro);
    margin: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 1em;
}

/*PALABRAS*/

.redi{
    display: flex;
    background-color: var(--crema);
    border-radius: 1em;
    padding: 0.5em;
}

.palabras{
    display: flex;
    margin-top: 3em;
    background-color: var(--crema);
    padding: 1.5em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
}
.palabras-enunciado{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 1em;
}
.palabras-enunciado p{
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.palabras-enunciado hr {
    margin: 1em;
    margin-top: 1.5em;
    border-color: var(--cafeoscuro);
}

.palabras-formulario{
display: flex;
margin: 1em;
}

.palabras-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    width: 20em;
}

.palabras-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.palabras-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

.palabras-botones{
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.palabras-botones button{
   margin: 0.5em;
   height: 2.5em;
   border-radius: 8px;
   font-family: 'Albert Sans',
    sans-serif;
    font-size: 1em;
    border: none;
    background-color: var(--rosa);
}

/*PALABRAS*/

/*TEMPERATURA*/

.temperatura-opciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.temperatura-opc1{
    display: flex;
    flex-direction: column;
}

/*TEMPERATURA*/

/*TRIANGULO*/

.triangulo-formulario{
display: flex;
margin-top: 2em;
}

.triangulo-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.triangulo-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    width: 15em;
}

.triangulo-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.triangulo-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

/*TRIANGULO*/

/*PROFES*/

.profes-opciones{
    padding: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profes-opc1 {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
}

/*PROFES*/

/*FIGURAS*/

.figuras-formulario{
    display: flex;
}

.figuras-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figura-card{
    margin: 1em;
}

/*FIGURAS*/

/*FORMULARIO*/

.datos-formulario {
    display: flex;
    margin-top: 2em;
}

.datos-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.datos-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
    width: 15em;
}

.datos-input label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.datos-input input {
    width: 80%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datos-input-aceptar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
    width: 15em;
    
}

.datos-input-aceptar label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.datos-input-aceptar input {
    width: 20%;
    height: 2em;
    border-radius: 0.3em;
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    justify-content: center;
}

/*FORMULARIO*/


/*MODAL*/

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 200px;
    display: none;
}

.contenidoModal {
    background-color: #FFFFFF;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}

@keyframes animarmodal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.cerrarModal {
    font-size: 2rem;
    float: right;
}

.cerrarModal:hover {
    cursor: pointer;
}

.contenidoModal h2 {
    background-color: blueviolet;
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
    clear: both;
}